/* sidebar */
.sidebar {
  flex: 1;
  border-right: 0.5px solid rgb(231, 228, 288);
  min-height: 100vh;
  background-color: #181824;
}

.sidebar-top {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid rgb(231, 228, 288);
}

.sidebar-top-logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.sidebar-center {
  text-decoration: none;
  padding-top: 15px;
  /* padding-left: 15px; */
}

.sidebar-title {
  font-size: 18px;
  font-weight: bold;
  color: #8e94a9;
  margin-top: 15px;
  margin-bottom: 0;
  padding-left: 15px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  cursor: pointer;
  font-size: 16px;
}

.sidebar-link-title {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #0dcaf0;
  margin-left: 10px;
}

.sidebar-link-title-active {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #0dcaf0;
  margin-left: 10px;
  color: #fff;
}

.sidebar-link:hover {
  background-color: #161621;
}

.sidebar-link a:hover {
  color: #fff;
}

.sidebar-link:hover .sidebar-link-title {
  color: #fff;
}

/* container */
.container {
  padding: 0 !important;
  flex: 6;
}

/* navbar */
.navbar {
  height: 80px;
  border-bottom: 0.5px solid rgb(231, 228, 288);
  font-size: 14px;
  color: #555;
}

.navbar-wapper {
  width: 100%;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}

/* widget */
.container .widgets,
.container .charts {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.widget {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  height: 100px;
}

.widget-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.widget-left-title {
  font-weight: bold;
  font-size: 14px;
  color: rgb(160, 160, 160);
}

.widget-left-counter {
  font-size: 28px;
  font-weight: 300px;
}

.widget-left-link {
  width: max-content;
  font-size: 12px;
  text-decoration: none;
  color: #000;
}

.widget-right-icon {
  font-size: 18px;
}

/* charts */
.charts {
  padding: 5px 20px;
}

/* featured */
.charts .featured {
  flex: 2;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
}

.featured-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  padding: 10px;
}

.featured-top-title {
  font-size: 16px;
  font-weight: 500;
}

.featured-bottom {
  padding: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.featured-bottom-chart {
  width: 100px;
  height: 100px;
}

.featured-bottom-title {
  margin: 10px 0;
  color: gray;
}

.featured-bottom-price {
  color: gray;
}

/* chart */
.charts .chart {
  flex: 4;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  color: gray;
}

.chart-grid {
  stroke: rgba(228, 255, 255);
}

.list-container {
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  margin: 20px;
}

.list-container-title {
  font-weight: 500;
  color: gray;
  margin-bottom: 15px;
}

/* datatable */

.datatable {
  padding: 20px;
}

.category,
.product,
.customer,
.detail,
.color,
.capacity,
.discount,
.store,
.order,
.staff,
.receipt {
  padding: 20px;
}

.category-btn-add,
.product-btn-add,
.customer-btn-add,
.color-btn-add,
.capacity-btn-add,
.discount-btn-add,
.staff-btn-add,
.receipt-btn-add {
  margin-bottom: 10px;
}

/* login */
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

/*custom react-image-gallery */
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  width: 20px !important;
  height: 60px !important;
}
/* .image-gallery-slide img {
  width: 400px !important;
} */

.image-gallery-play-button .image-gallery-svg {
  display: none !important;
}

.image-gallery-fullscreen-button .image-gallery-svg {
  width: 20px !important;
  height: 20px !important;
}
